[MASTER]
ignore=.venv,build,dist
py-version=3.11
jobs=0

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods

[FORMAT]
max-line-length=100
indent-string='    '

[BASIC]
good-names=i,j,k,ex,_,id
argument-naming-style=snake_case
attr-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
method-naming-style=snake_case
module-naming-style=snake_case
variable-naming-style=snake_case

[LOGGING]
logging-modules=logger,logging

